@brown_dark:rgb(68,39,31);
@brown_dark_transp:rgba(68,39,31,0.9);
@brown_light:rgb(112,66,49);
@brown_light_transp:rgba(112,66,49,0.4);
@brown_light_back:rgb(240,236,234);
@h1:rgb(112,66,49);
@h2:rgb(43,22,13);
@green:rgb(94,116,54);
@green_dark:rgb(42,57,21);
@green_dark_transp:rgba(94,116,54,0.9);
@fontcolor:rgb(43,22,13);

body{
  font-family: 'Abadi MT W01 Regular1564185',Arial, Helvetica, sans-serif,serif;
  color:@fontcolor;
  *:not(i){
    font-family: 'Abadi MT W01 Regular1564185',Arial, Helvetica, sans-serif;
  }
  background:white;
}
h1{
  font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
  color:@h1;
  font-size:9rem;
  line-height:1em;
  margin:2rem 0 0 0!important;
  font-weight:200;
}
h2{
  font-family: 'Abadi MT W01 Regular1564185',Arial, Helvetica, sans-serif,serif;
  color:@h2;
  font-weight:200;
  text-transform:uppercase;
}
a{
  color:@brown_light;
}
#reserv{
  padding:2rem 0;
  @media (max-width: 768px){
    background-position: 20% center!important;
    padding:2rem 0 4rem 0;
  }
  h2{
    font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
    color:@brown_light;
    font-size:8rem;
    text-transform:none;
    text-align:center;
    margin:0;
    @media (max-width: 768px){
      font-size:6rem;
    }
  }
  h3{
    text-transform:uppercase;
    text-align:center;
    font-size:1.72rem;
    font-weight:200;
    margin:-4rem 0 2rem 0;
    @media (max-width: 768px){
      margin:-2rem 0 2rem 0;
    }
  }
}
#ab{
  .kcontent{
    background: rgba(112,66,49,0.1);
    height:100%!important;
    padding:2rem 3rem;
    h2{
      font-weight:200;
      font-size:1.6rem;
    }
  }
  .kt{
    margin:2rem 0 0 0 !important;
    .column{
      padding:0!important;
    }
  }
  #imgs{
    padding:3rem 0;
    .galimg{
      width:100%;
      padding:100% 0 0 0;
    }
    h2{
      color:@brown_light;
      font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
      font-size:7rem;
      text-align:center;
      text-transform:none;
      @media (max-width: 768px){
        font-size:5rem;
      }
    }
  }
  #hist{
    background:rgba(112,66,49,0.1);
    padding: 22vh 0 0 0;
    #histentr{
      width:80%;
      margin:auto!important;
      .title{
        font-weight:bold;
        font-size:1.1rem;
      }
      h3{
        font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
        color:@brown_light;
        font-size:5rem;
        font-weight:200;
        margin-bottom:0;
        line-height:4rem;
         
      }
    }
  }
  #mimg{
    text-align:center;
    margin-bottom:-20vh;
    max-width:80%;
    img{
      width:100%;
    }
  }
  h1{
    color:@brown_light;
    text-align:center;
    @media (max-width: 768px){
      font-size:4rem;
      margin-bottom:1rem!important;
    }
  }
  .intro{
    text-align:center;
    h1{
      margin-bottom:0;
    }
    h2{
      margin:-3rem 0 1rem 0;
      @media (max-width: 768px){
        margin:0 !important;
      }
    }
    .txt2{
      columns: 2;
      text-align:justify;
      column-gap: 2rem;
      margin:2rem 0;
      @media (max-width: 768px){
        columns:1;
      }
    }
  }
}
#rm{
  h1{
    color:@brown_light;
    text-align:center;
    @media (max-width: 768px){
      font-size:6rem;
      margin-bottom:1rem!important;
    }
  }
  .intro{
    text-align:center;
    h1{
      margin-bottom:0;
    }
    h2{
      margin:-3rem 0 1rem 0;
    }
  }
  #rmb{
    padding:3rem 0 3rem 0;
    margin-top:2rem;
    .column{
      padding:0!important;
    }
    .cont{
      padding:2rem 3rem;
      min-height:350px;
      img{
        display:none;
      }
      @media (max-width: 768px){
        min-height:auto;
        padding:1rem;
        img{
          width:100%;
          display:block;
        }
      }
      background:rgba(255,255,255,0.9);
      h3{
        text-transform:uppercase;
        font-size:1.6rem;
        margin-bottom:2rem;
        font-weight:normal;
      }
      .sp{
        margin:2rem 0 1rem 0;
        text-transform: uppercase;
        color:@brown_light;
        font-size:1.3rem;
      }
    }
    .rms{
      margin:0 0 3rem 0!important;
    }
  }
}
#homea{
  h1{
    color:@green;
    @media (max-width: 768px){
      font-size:6rem;
    }
  }
  .intro{
    text-align:center;
  }
  #fpsec{
    padding:3rem 0;
    .colcont{
      background:@green_dark;
      height:100%;
      .cont{
        text-align:center;
        color:white;
        padding:1rem;
        h3{
          margin:0;
        }
        h4{
          font-weight:normal;
          margin:0 0 2rem 0;
        }
      }
    }
    .mimg{
      width:100%;
      height:30vh;
      position:relative;
    }
    h2{
      color:@green;
      font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
      font-size:7rem;
      text-align:center;
      text-transform:none;
      @media (max-width: 768px){
        font-size:5rem;
      }
    }
  }
  #videosec{
    padding:3rem 0;
    h2{
      color:@green;
      font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
      font-size:7rem;
      text-align:center;
      text-transform:none;
      @media (max-width: 768px){
        font-size:5rem;
      }
    }
  }
  .ll{
    padding:2rem 0;
    .column>div{
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:center;
      img{
        width:50%;
      }
      h2{
        font-size:1.2rem;
        text-transform:none;
        font-weight:bold;
      }
    }
  }
}
#bteasera{
  min-height:40vh;
}
#bteaser{
  min-height:55vh;
  padding-top:112px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  @media (max-width: 768px){
    padding-top:182px;
  }
  .content{
    text-align:center;
    color:white;
    text-transform:uppercase;
    strong{
      line-height:8rem;
      text-transform:none;
      font-size:6rem;
      font-weight:200;
      font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
      @media (max-width: 768px){
        font-size:4rem;
        line-height:5rem;
      }
    }
    a{
      padding:0.5rem 1rem;
      color:white;
      background:@brown_dark;
      text-transform:uppercase;
      line-height:1.0em;
    }
  }
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  i{
    margin-right:1rem!important;
  }
  #tel{
    color:white;
    position:absolute;
    top:1.5rem;
    right:2rem;
    display:flex;
    justify-content:flex-end;
  }
  #headermenuw{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    position:absolute;
    left:1.5rem;
    top:4rem;
    @media (max-width: 720px){
      width:100%;
      left:0;
    }
  }
  #mnt{
    position:absolute;
    left:1rem;
    top:1rem;
    color:white;
    #mntbt{
      cursor:pointer;
      box-shadow:none;
      background:transparent;
      padding:0.5rem 1rem;
      border:none;
      color:white;
      text-transform:uppercase;
    }
    i{
      color:white;
      
    }
  }
  #headermenu{
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
    max-height:0px;
    overflow:hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    &.mobvis{
      max-height:1000px;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      opacity: 1;
      @media (max-width: 1280px){
        background:@brown_dark_transp;
      }
    }
    &.agrar.mobvis{
      @media (max-width: 1280px){
        background:@green_dark_transp;
      }
    }
    @media (max-width: 1280px){
      padding-left:2rem;
    }
    @media (max-width: 720px){
      width:100%;
      padding:1rem 2rem 2rem 2rem!important;
    }
    padding:0!important;
    .headermenuitem{
      text-transform:uppercase;
      text-align:left;
      font-size:0.9rem;
      line-height:1.8rem;
      color:white;
      &.active{
        text-decoration: underline;
      }
      padding:0 1rem;
      &:last-child{
        border:none;
      }
      @media (max-width: 1280px){
        padding:0 0.5rem;
        margin-top:1rem;
      }
      @media (max-width: 720px){
        border:none;
        text-transform:none;
        text-align:left;
        width:100%;
        font-size:1.3rem;
        line-height:1.5rem;
      }
    }
  }
  .logow{
    padding-top:1.5rem;
    width:100%;
    display:flex;
    justify-content:center;
    img{
      width:180px;
      height:92px;
    }
    img.logoa{
      width:180px;
      height:255px;
      @media (max-width: 720px){
        width:120px;
        height:170px;
      }
    }
    @media (max-width: 720px){
      padding-top:5rem;
    }
  }
  .logow1{
    display:inline-block;
  }
}
footer{
  position:relative;
  #logofooter{
    position:absolute;
    top:-64px;
    left:50%;
    margin-left:-125px;
    img{
      width:250px;
    }
  }
  display:block;
  background:@brown_dark;
  @media (max-width: 768px){
    .column{
      border:none!important;
    }
  }  
  &.agrar{
    background:@green;
    .column{
      border-right:1px solid white;
      &:last-child{
        border:none!important;
      }
      &.al{
        text-align:center;
      }
    }
    .footeralogo{
      width:50%
    }
  }
  padding:5rem 0 2rem;
  color:white;
  .column{
    padding:2rem 2rem 0 2rem!important;
    border-right:1px solid @brown_light;
    &:last-child{
      border:none!important;
    }
    @media (max-width: 768px){
      border:none;
    }
  }
  ul{
    padding:0;
    margin:0;
    list-style-type:none;
  }
  a{
    color:white;
  }
  h5{
    text-transform:uppercase;
    color:white;
    font-weight:200;
    font-size:1.5rem;
  }
  .footermenu{
    display:flex!important;
    flex-direction:column;
    justify-content: flex-start;
    a{
      color:white!important;
      line-height:1.5em;
    }
  }
}
.subpage{
  
}
.lbuttona{
  box-shadow:none;
  border:none;
  padding:0.5rem 1rem;
  color:white;
  background:@green_dark;
  text-transform:uppercase;
  line-height:1.5rem;
  display:inline-block;
  font-size:1rem;
  margin:1rem;
  &:hover{
    background:@green;
    color:white;
  }
}
.lbutton{
  box-shadow:none;
  border:none;
  padding:0.5rem 1rem;
  color:white;
  background:@brown_dark;
  text-transform:uppercase;
  line-height:1.5rem;
  display:inline-block;
  font-size:1rem;
  margin:1rem;
  &:hover{
    background:@brown_light;
    color:white;
  }
}
.lbutton2{
  position:relative;
  box-shadow:none;
  border:none;
  padding:0.5rem 1rem;
  color:white;
  background:@brown_light;
  text-transform:uppercase;
  line-height:1.5rem;
  display:inline-block;
  font-size:1rem;
  margin:1rem auto;
  &:hover{
    background:@brown_dark;
    color:white;
  }
}
.centerContent{
  display:flex!important;
  justify-content:center;
}
#home{
  .intro{
    text-align:center;
    p{
      line-height:1.3em;
    }
    h2{
      margin:-2rem 0 1rem 0;
    }
  }
  #akt{
    @media (max-width: 768px){
      background-size: 30vw!important;
      background-position: -5% 20%!important;
    }
    padding:8rem 0 8rem 0;
    ul.gr{
      padding:0;
      margin:2rem 0;
      li{
        list-style-type: none;
        h4{
          text-transform:none;
          letter-spacing:0.1rem;
          margin:0;
          font-weight:200;
          font-size:1.5rem;
        }
        .dat{
          font-style:italic;
        }
        margin-bottom:1rem;
      }
    }
    h2{
      color:@brown_light;
      font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
      text-transform:none;
      text-align:center;
      font-size:7rem;
      line-height:7rem;
      margin:0;
    }
    h3{
      text-align:center;
      font-weight:200;
      margin:-2rem 0 3rem 0;
      text-transform:uppercase;
    }
    .buttons{
      text-align:right;
    }
  }
  #zi{
    padding:2rem 0;
    h2{
      color:@brown_light;
      font-family: 'HerrVonMuellerhoff W05 Regular',Arial, Helvetica, sans-serif!important;
      text-transform:none;
      text-align:center;
      font-size:7rem;
      line-height:7rem;
      margin:0;
    }
    h3{
      text-align:center;
      font-weight:200;
      margin:-2rem 0 3rem 0;
      text-transform:uppercase;
    }
    .imgcol{
      img{
        border:1px solid @brown_dark;
        max-width:100%;
        margin-bottom:-7rem;
      }
    }

  }
  .images{
    margin:2rem 0 0 0;
    .imgw{
      display:flex;
      justify-content: space-between;
      .img{
        width:32%;
        min-height:33vh;
        @media (max-width: 768px){
          min-height:32vw;
          h3{
            font-size:1.4rem!important;
          }
        }
        cursor:pointer;
        position:relative;
        display:flex;
        flex-direction:column;
        justify-content:center;
        h3{
          font-weight:200;
          color:white;
          text-transform:uppercase;
          text-align:center;
          letter-spacing: :0.1em;
          font-size:1.8rem;
          margin:0;
        }
        .overlay{
          position:absolute;
          z-index:9;
          width:100%;
          height:100%;
          background:@brown_light_transp;
          opacity: 0;
          transition-property: opacity;
          transition-duration: 0.6s;
          transition-timing-function: ease-in-out;
          &:hover{
            transition-property: opacity;
            transition-duration: 0.6s;
            transition-timing-function: ease-in-out;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .sy-box .sy-slide .product-info {
    padding: 1em 2.4em;
  }
}
.sy-box .sy-slide .image-content {
  line-height: 0;
}
.sy-box .sy-slide li img {
  width: 100%;
}
.sy-box .sy-slide.sy-active {
  opacity: 1;
}