body {
  font-family: 'Abadi MT W01 Regular1564185', Arial, Helvetica, sans-serif, serif;
  color: #2b160d;
  background: white;
}
body *:not(i) {
  font-family: 'Abadi MT W01 Regular1564185', Arial, Helvetica, sans-serif;
}
h1 {
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
  color: #704231;
  font-size: 9rem;
  line-height: 1em;
  margin: 2rem 0 0 0!important;
  font-weight: 200;
}
h2 {
  font-family: 'Abadi MT W01 Regular1564185', Arial, Helvetica, sans-serif, serif;
  color: #2b160d;
  font-weight: 200;
  text-transform: uppercase;
}
a {
  color: #704231;
}
#reserv {
  padding: 2rem 0;
}
@media (max-width: 768px) {
  #reserv {
    background-position: 20% center!important;
    padding: 2rem 0 4rem 0;
  }
}
#reserv h2 {
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
  color: #704231;
  font-size: 8rem;
  text-transform: none;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  #reserv h2 {
    font-size: 6rem;
  }
}
#reserv h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.72rem;
  font-weight: 200;
  margin: -4rem 0 2rem 0;
}
@media (max-width: 768px) {
  #reserv h3 {
    margin: -2rem 0 2rem 0;
  }
}
#rm h1 {
  color: #704231;
  text-align: center;
}
@media (max-width: 768px) {
  #rm h1 {
    font-size: 6rem;
    margin-bottom: 1rem!important;
  }
}
#rm .intro {
  text-align: center;
}
#rm .intro h1 {
  margin-bottom: 0;
}
#rm .intro h2 {
  margin: -3rem 0 1rem 0;
}
#rm #rmb {
  padding: 3rem 0 3rem 0;
  margin-top: 2rem;
}
#rm #rmb .column {
  padding: 0!important;
}
#rm #rmb .cont {
  padding: 2rem 3rem;
  min-height: 350px;
  background: rgba(255, 255, 255, 0.9);
}
#rm #rmb .cont img {
  display: none;
}
@media (max-width: 768px) {
  #rm #rmb .cont {
    min-height: auto;
    padding: 1rem;
  }
  #rm #rmb .cont img {
    width: 100%;
    display: block;
  }
}
#rm #rmb .cont h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: normal;
}
#rm #rmb .cont .sp {
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
  color: #704231;
  font-size: 1.3rem;
}
#rm #rmb .rms {
  margin: 0 0 3rem 0!important;
}
#homea h1 {
  color: #5e7436;
}
@media (max-width: 768px) {
  #homea h1 {
    font-size: 6rem;
  }
}
#homea .intro {
  text-align: center;
}
#homea #fpsec {
  padding: 3rem 0;
}
#homea #fpsec .colcont {
  background: #2a3915;
  height: 100%;
}
#homea #fpsec .colcont .cont {
  text-align: center;
  color: white;
  padding: 1rem;
}
#homea #fpsec .colcont .cont h3 {
  margin: 0;
}
#homea #fpsec .colcont .cont h4 {
  font-weight: normal;
  margin: 0 0 2rem 0;
}
#homea #fpsec .mimg {
  width: 100%;
  height: 30vh;
  position: relative;
}
#homea #fpsec h2 {
  color: #5e7436;
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
  font-size: 7rem;
  text-align: center;
  text-transform: none;
}
@media (max-width: 768px) {
  #homea #fpsec h2 {
    font-size: 5rem;
  }
}
#homea #videosec {
  padding: 3rem 0;
}
#homea #videosec h2 {
  color: #5e7436;
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
  font-size: 7rem;
  text-align: center;
  text-transform: none;
}
@media (max-width: 768px) {
  #homea #videosec h2 {
    font-size: 5rem;
  }
}
#homea .ll {
  padding: 2rem 0;
}
#homea .ll .column > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#homea .ll .column > div img {
  width: 50%;
}
#homea .ll .column > div h2 {
  font-size: 1.2rem;
  text-transform: none;
  font-weight: bold;
}
#bteasera {
  min-height: 40vh;
}
#bteaser {
  min-height: 55vh;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  #bteaser {
    padding-top: 182px;
  }
}
#bteaser .content {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
#bteaser .content strong {
  line-height: 8rem;
  text-transform: none;
  font-size: 6rem;
  font-weight: 200;
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
}
@media (max-width: 768px) {
  #bteaser .content strong {
    font-size: 4rem;
    line-height: 5rem;
  }
}
#bteaser .content a {
  padding: 0.5rem 1rem;
  color: white;
  background: #44271f;
  text-transform: uppercase;
  line-height: 1.0em;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
header i {
  margin-right: 1rem!important;
}
header #tel {
  color: white;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  justify-content: flex-end;
}
header #headermenuw {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  position: absolute;
  left: 1.5rem;
  top: 4rem;
}
@media (max-width: 720px) {
  header #headermenuw {
    width: 100%;
    left: 0;
  }
}
header #mnt {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: white;
}
header #mnt #mntbt {
  cursor: pointer;
  box-shadow: none;
  background: transparent;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
}
header #mnt i {
  color: white;
}
header #headermenu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  padding: 0!important;
}
header #headermenu.mobvis {
  max-height: 1000px;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
@media (max-width: 1280px) {
  header #headermenu.mobvis {
    background: rgba(68, 39, 31, 0.9);
  }
}
@media (max-width: 1280px) {
  header #headermenu.agrar.mobvis {
    background: rgba(94, 116, 54, 0.9);
  }
}
@media (max-width: 1280px) {
  header #headermenu {
    padding-left: 2rem;
  }
}
@media (max-width: 720px) {
  header #headermenu {
    width: 100%;
    padding: 1rem 2rem 2rem 2rem!important;
  }
}
header #headermenu .headermenuitem {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: white;
  padding: 0 1rem;
}
header #headermenu .headermenuitem.active {
  text-decoration: underline;
}
header #headermenu .headermenuitem:last-child {
  border: none;
}
@media (max-width: 1280px) {
  header #headermenu .headermenuitem {
    padding: 0 0.5rem;
    margin-top: 1rem;
  }
}
@media (max-width: 720px) {
  header #headermenu .headermenuitem {
    border: none;
    text-transform: none;
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
header .logow {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logow img {
  width: 180px;
  height: 92px;
}
header .logow img.logoa {
  width: 180px;
  height: 255px;
}
@media (max-width: 720px) {
  header .logow img.logoa {
    width: 120px;
    height: 170px;
  }
}
@media (max-width: 720px) {
  header .logow {
    padding-top: 5rem;
  }
}
header .logow1 {
  display: inline-block;
}
footer {
  position: relative;
  display: block;
  background: #44271f;
  padding: 5rem 0 2rem;
  color: white;
}
footer #logofooter {
  position: absolute;
  top: -64px;
  left: 50%;
  margin-left: -125px;
}
footer #logofooter img {
  width: 250px;
}
@media (max-width: 768px) {
  footer .column {
    border: none!important;
  }
}
footer.agrar {
  background: #5e7436;
}
footer.agrar .column {
  border-right: 1px solid white;
}
footer.agrar .column:last-child {
  border: none!important;
}
footer.agrar .column.al {
  text-align: center;
}
footer.agrar .footeralogo {
  width: 50%;
}
footer .column {
  padding: 2rem 2rem 0 2rem!important;
  border-right: 1px solid #704231;
}
footer .column:last-child {
  border: none!important;
}
@media (max-width: 768px) {
  footer .column {
    border: none;
  }
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer a {
  color: white;
}
footer h5 {
  text-transform: uppercase;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
}
footer .footermenu {
  display: flex!important;
  flex-direction: column;
  justify-content: flex-start;
}
footer .footermenu a {
  color: white!important;
  line-height: 1.5em;
}
.lbuttona {
  box-shadow: none;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  background: #2a3915;
  text-transform: uppercase;
  line-height: 1.5rem;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
}
.lbuttona:hover {
  background: #5e7436;
  color: white;
}
.lbutton {
  box-shadow: none;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  background: #44271f;
  text-transform: uppercase;
  line-height: 1.5rem;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
}
.lbutton:hover {
  background: #704231;
  color: white;
}
.lbutton2 {
  position: relative;
  box-shadow: none;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  background: #704231;
  text-transform: uppercase;
  line-height: 1.5rem;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem auto;
}
.lbutton2:hover {
  background: #44271f;
  color: white;
}
.centerContent {
  display: flex!important;
  justify-content: center;
}
#home .intro {
  text-align: center;
}
#home .intro p {
  line-height: 1.3em;
}
#home .intro h2 {
  margin: -2rem 0 1rem 0;
}
#home #akt {
  padding: 8rem 0 8rem 0;
}
@media (max-width: 768px) {
  #home #akt {
    background-size: 30vw!important;
    background-position: -5% 20% !important;
  }
}
#home #akt ul.gr {
  padding: 0;
  margin: 2rem 0;
}
#home #akt ul.gr li {
  list-style-type: none;
  margin-bottom: 1rem;
}
#home #akt ul.gr li h4 {
  text-transform: none;
  letter-spacing: 0.1rem;
  margin: 0;
  font-weight: 200;
  font-size: 1.5rem;
}
#home #akt ul.gr li .dat {
  font-style: italic;
}
#home #akt h2 {
  color: #704231;
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
  text-transform: none;
  text-align: center;
  font-size: 7rem;
  line-height: 7rem;
  margin: 0;
}
#home #akt h3 {
  text-align: center;
  font-weight: 200;
  margin: -2rem 0 3rem 0;
  text-transform: uppercase;
}
#home #akt .buttons {
  text-align: right;
}
#home #zi {
  padding: 2rem 0;
}
#home #zi h2 {
  color: #704231;
  font-family: 'HerrVonMuellerhoff W05 Regular', Arial, Helvetica, sans-serif !important;
  text-transform: none;
  text-align: center;
  font-size: 7rem;
  line-height: 7rem;
  margin: 0;
}
#home #zi h3 {
  text-align: center;
  font-weight: 200;
  margin: -2rem 0 3rem 0;
  text-transform: uppercase;
}
#home #zi .imgcol img {
  border: 1px solid #44271f;
  max-width: 100%;
  margin-bottom: -7rem;
}
#home .images {
  margin: 2rem 0 0 0;
}
#home .images .imgw {
  display: flex;
  justify-content: space-between;
}
#home .images .imgw .img {
  width: 32%;
  min-height: 33vh;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  #home .images .imgw .img {
    min-height: 32vw;
  }
  #home .images .imgw .img h3 {
    font-size: 1.4rem!important;
  }
}
#home .images .imgw .img h3 {
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: :0.1em;
  font-size: 1.8rem;
  margin: 0;
}
#home .images .imgw .img .overlay {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(112, 66, 49, 0.4);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}
#home .images .imgw .img .overlay:hover {
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
@media only screen and (max-width: 500px) {
  .sy-box .sy-slide .product-info {
    padding: 1em 2.4em;
  }
}
.sy-box .sy-slide .image-content {
  line-height: 0;
}
.sy-box .sy-slide li img {
  width: 100%;
}
.sy-box .sy-slide.sy-active {
  opacity: 1;
}
