{{ $t := .Site.GetPage "header.md" }} {{ $currentPage := . }}
<header class="{{if eq .RelPermalink "/hofladen/"}}hofladen{{end}}">
  <a href="/" id="logolink">
    <div class="logow {{if eq .RelPermalink "/hofladen/"}}hofladen{{end}}">
      {{if eq .RelPermalink "/lehner-agrar-lohnbetrieb/"}}
      <img class="logoa" src="{{partial "imgUrl" (dict "img" $t.Params.logo_agrar "params" "f_auto" )}}" />
      {{else}}
      {{if eq .RelPermalink "/hofladen/"}}
      <img class="logo eh" src="{{partial "imgUrl" (dict "img" "/uploads/2023/02/09/logo_lehner.png" "params" "f_auto" )}}" />
      {{else}}
      <img class="logo" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "f_auto" )}}" />
      {{end}}
      {{end}}
    </div>
  </a>
  <div id="headermenuw">
    <div id="headermenu" class="mobinit {{if eq .RelPermalink "/lehner-agrar-lohnbetrieb/"}}agrar{{end}} {{if eq .RelPermalink "/hofladen/"}}hofladen{{end}}">
      {{ range .Site.Menus.main }}
      <a class="headermenuitem {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
        href="{{ .URL }}" title="{{ .Title }}">{{ .Name|safeHTML }}</a>
      {{ end }}
    </div>
  </div>
  <div id="mnt" class=" {{if eq .RelPermalink "/hofladen/"}}hofladen{{end}}">
    <button id="mntbt" class="{{if eq .RelPermalink "/hofladen/"}}hofladen{{end}}">
      <i class="bars icon"></i>{{$t.Params.beschriftung_navi}}
    </button>
  </div>
  <div id="tel">
    <i class="phone icon"></i>{{$t.Params.telefon}}
  </div>
</header>