{{ define "main" }}
{{$p:=.}}
<div id="home">
  <div id="homesplit">
    {{range .Params.homesplit}}
    <div class="col" style="background:url({{partial "imgUrl" (dict "img" .hintergrundbild "params" "c_scale,f_auto,w_1200" )}}) center top no-repeat; background-size:cover;">
      <div class="inner {{.farbe}}">
        <a href="{{relref $p .link}}">
          <img class="logo" src="{{partial "imgUrl" (dict "img" .logo "params" "f_auto" )}}" />
        </a>
        <a class="button" href="{{if eq .link "_index.md"}}#homestart{{else}}{{relref $p .link}}{{end}}">
          <i class="arrow alternate circle right outline icon"></i>{{.button_beschriftung}}
        </a>
        <div class="zinfo">{{.zusatzinfos|safeHTML}}</div>
      </div>
    </div>
    {{end}}
  </div> 
  <!--
<div id="bteaser" style="background:url({{partial "imgUrl" (dict "img" .Params.bild_teaser.bild "params" "c_scale,f_auto,w_2500" )}}) center top no-repeat; background-size:cover;">
          <div class="content">{{.Params.bild_teaser.content|safeHTML}}</div>
        </div>

  -->
  
  <div class="ui container intro" id="homestart">
    <h1>{{.Params.titel}}</h1>
    <h2>{{.Params.untertitel}}</h2>
    {{.Params.intro | safeHTML}}
  </div>
  
  <div class="ui container images">
    <a href="{{relref . .Params.bilder.button_link}}">
    <div class="imgw">
      {{range .Params.bilder.bilder}}
      <div class="img" style="background:url({{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_600" )}}) center center no-repeat; background-size:cover;">
        <h3>{{.titel}}</h3>
      </div>
      {{end}}
    </div>
  </a>
  </div>

  <div class="ui container centerContent">
    <a class="lbutton" href="{{relref . .Params.bilder.button_link}}">
      {{.Params.bilder.button_beschriftung}}
    </a>
  </div>
  <div id="zi" style="background:url({{partial "imgUrl" (dict "img" .Params.zimmer.hintergrundbild "params" "c_scale,f_auto,w_2500" )}}) center top no-repeat; background-size:cover;">
    <div class="ui container">
      <h2>{{.Params.zimmer.titel}}</h2>
      <h3>{{.Params.zimmer.untertitel}}</h3>
      <div class="ui equal width stackable grid">
        <div class="ui column">

          {{.Params.zimmer.content|safeHTML}}
          <a class="lbutton" href="{{relref . .Params.zimmer.button_link}}">
            {{.Params.zimmer.button_beschriftung}}
          </a>
        </div>
        <div class="ui column imgcol">
          <img src="{{partial "imgUrl" (dict "img" .Params.zimmer.bild "params" "c_scale,f_auto,q_100,w_800" )}}" />
        </div>
      </div>
    </div>
  </div>
  <div id="mo" >
    <div class="ui container">
      <h2>{{.Params.agrar_heisl.titelzeile}}</h2>
      <div class="ui three column stackable grid">
        {{range .Params.agrar_heisl.bilder}}
        <div class="ui column cc">
          <div class="img" style="background:url({{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_600" )}}) center top no-repeat; background-size:contain;">
            
          </div>
          <h3>{{.titel}}</h3>
          <div>{{.beschreibung|safeHTML}}</div>
          {{if .buttonlink}}
          <a class="lbutton" href="{{relref $p .buttonlink}}">
            {{.buttonbeschriftung}}
          </a>
          {{end}}
        </div>
        {{end}}
      </div>
    </div>
  </div>
  <div id="akt" style="background:url({{partial "imgUrl" (dict "img" .Params.aktuell.hintergrundbild "params" "f_auto" )}}) left 5rem no-repeat; background-size:contain;">
    <div class="ui container">
      <h2>{{.Params.aktuell.titel}}</h2>
      <h3>{{.Params.aktuell.untertitel}}</h3>
      <div class="ui grid stackable">
        <div class="ui four wide column"></div>
        <div class="ui eight wide column">
          {{.Params.aktuell.content|safeHTML}}
          <ul class="gr">
            {{range .Params.aktuell.gerichte}}
            <li>
              <h4>{{.gericht}}</h4>
              <div class="dat">{{.datum}}</div>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="ui four wide column buttons">
          <a class="lbutton" href="{{.Params.aktuell.button_link_1}}">
            {{.Params.aktuell.button_beschriftung_1}}
          </a>
          <a class="lbutton2" href="{{relref . .Params.aktuell.button_link_2}}">
            {{.Params.aktuell.button_beschriftung_2}}</a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}