<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="description" content="{{.Params.seo_description}}">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <link rel="stylesheet" href="/lib/semantic.min.css">
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/2b56d7b0-ad00-4aa4-ad78-f973091144bb.css" />
</head>

<body>
  {{ partial "header.html" . }}
  <main role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

  <script type="text/javascript" src="/lib/semantic.min.js"></script>
  <script type="text/javascript" src="/lib/slippry.min.js"></script>
  <link rel="stylesheet" href="/lib/slippry.min.css">
  <script type="text/javascript">
    $(function () {
      $('.ui.embed').embed();
      $('#mntbt').click(function () {
        if ($('#headermenu').hasClass('mobvis')) {
          $('#headermenu').removeClass('mobvis');
        } else {
          $('#headermenu').addClass('mobvis');
        }

      });
      $('.imggal .mimg, .imggal .titles').click(function (el) {
        var mid = el.currentTarget.dataset.modal;
        var idx = el.currentTarget.dataset.idx;
        $('#modal_' + mid).modal({ inverted: true }).modal('show');
        console.log(idx);
        $('#gal_' + mid).slippry({
          // general elements & wrapper
          slippryWrapper: '<div class="sy-box portfolio-slider" />', // wrapper to wrap everything, including pager

          // options
          adaptiveHeight: true, // height of the sliders adapts to current slide
          start: parseInt(idx) + 1, // num (starting from 1), random
          loop: true, // first -> last & last -> first arrows
          captionsSrc: 'li',
          captions: 'custom', // Position: overlay, below, custom, false
          captionsEl: '.external-captions',

          // transitions
          transition: 'horizontal', // fade, horizontal, kenburns, false
          easing: 'linear', // easing to use in the animation [(see... [jquery www])]
          continuous: true,

          // slideshow
          auto: true,
          pager: false,
        });
      });
    });
  </script>
</body>

</html>