{{ define "main" }}
<div id="ab">
  <div id="bteasera" style="background:url({{partial "imgUrl" (dict "img" .Params.titelbild "params" "c_scale,f_auto,w_2500" )}}) center top no-repeat; background-size:cover;">
    <div class="content">{{.Params.bild_teaser.content|safeHTML}}</div>
  </div>
  <div class="ui container intro">
    <h1>{{.Params.titel}}</h1>
    <h2>{{.Params.untertitel}}</h2>
  </div>
  <div class="ui two column stackable grid mobile reversed kt">
    <div class="ui column map">
      <div class="ui 4:3 embed" data-url="{{.Params.karte}}" data-icon="zoom in">
      </div>
    </div>
    <div class="ui column content">
      <div class="kcontent">
        {{.Params.content | safeHTML}}
      </div>
    </div>
  </div>
  <div id="reserv" style="background:url({{partial "imgUrl" (dict "img" .Params.reservierung.hintergrundbild "params" "" )}}) right center no-repeat rgba(112,66,49,0.1); background-size:cover;">
    <div class="ui container">
      <h2>{{.Params.reservierung.titel}}</h2>
      <h3>{{.Params.reservierung.untertitel}}</h3>
      <div class="ui two column grid stackable">
        <div class="column">
          {{.Params.reservierung.content|safeHTML}}
          <a class="lbutton" href="{{.Params.reservierung.buttonlink}}">
            {{.Params.reservierung.buttonbeschriftung}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div> {{ end }}