{{ define "main" }}
<div id="ab">
  <div id="bteasera" style="background:url({{partial "imgUrl" (dict "img" .Params.titelbild "params" "c_scale,f_auto,w_2500" )}}) center top no-repeat; background-size:cover;">
    <div class="content">{{.Params.bild_teaser.content|safeHTML}}</div>
  </div>
  <div class="ui container intro">
    <h1>{{.Params.titel}}</h1>
    <h2>{{.Params.untertitel}}</h2>
    <div class="ui two column grid stackable contv">
      <div class="column">{{.Params.content_links|safeHTML}}</div>
      <div class="column">{{.Params.content_rechts|safeHTML}}</div>
    </div>
  </div>
  <div class="vaimgs">
    <div id="imgs" class="ui container">
      <h2>{{.Params.bilder.titel}}</h2>
      <div class="ui four column grid doubling">
        {{range .Params.bilder.bilder}}
        <div class="column">
          <div class="galimg" style="background:url({{partial "imgUrl" (dict "img" . "params" "c_scale,f_auto,w_500" )}}) center center no-repeat; background-size:cover;"></div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div> {{ end }}